@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@200;300;400;600&display=swap');
@import 'components/header';
@import 'base/general';
@import 'base/listas';




    .container-bienvenida{
        display: flex;
        flex-direction: column;
         gap: 2rem;

         div{
            display: flex;
            justify-content: center;
         }
       
         h1{
            display: flex;
            justify-content: center;

            #logo-bienvenida{
                width: 8rem;
            }

            span{
                font-size: 10rem;
                font-weight: bold;
            }
        }

        h2{
            font-size: 3rem;
        }  


    }








