@import '../base/colores';
@import '../base/responsive';


.container-blog{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .articulo-blog{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: $font-gral;
    box-shadow: 0 0 6px $grey;
    text-align: center;

    h3{
      background-color: $first-color;
      color: $bg-color;
      font-weight: bolder;
      padding: 1.5rem;
      box-shadow: 0 0 6px $bg-color;
      font-size: 1.5rem;
    }

    p{
      color: $bg-color;
      padding: 1rem;
    }

    button{
      background-color:  $first-color;
      color: $bg-color;
      width: 8rem;
      padding: 0.5rem;
      margin: 0 auto;
      font-size: 0.9rem;
      

  }
}

}


