@import '../base/colores';
@import '../base/responsive';

/*Estilos del header*/

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;

   .container-header {
    width: 100%;
    max-width: 1200px;

    .logoNavBar {
      width: 10%;
      padding-top: 0.5rem;
    }

    .navbar-collapse {
      flex-grow: 0 !important;
    

      .navbar-nav li a {
        color: $font-gral;

        &:hover {
          text-decoration: line-through !important;
          color: $first-color !important;
        }
      }
    }
  }
}

/*Fin del header*/
