@import '../base/colores';
@import '../base/responsive';

/*Estilos del header*/

.header {
  width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 40px 80px;
  position: fixed;
  top: 0;
  z-index: 2;


 
  .logo {
    height: 40px;
  }


  .navbar {
    display: flex;
    justify-content: center;
    align-content: center;
  
    .navbar-list {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      gap: 40px;

      a {
        color: $font-gral;
        text-decoration: none;
        
        &:hover{
          text-decoration: line-through;
          color: $first-color;
        }

      }

    }

 
    #menu-toggle {
      display: none;
    }

    .menu-label {
      display: none;
    }

  }

}

.header-index{
  background-color: transparent;
}



/*Fin del header*/