@import '../base/colores';
@import '../base/responsive';

/*comienzo pagina nosotros*/

.container-nosotros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;


    .item-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25rem;
        padding: 1rem;
        border: 1px solid $first-color;
        border-radius: 0.5em;
        text-align: center;
      
        .img-nosotros {
            padding: 1rem;


            img {
                border-radius: 10%;
                object-fit: cover;
            }

        }

    }

    .titulo-nosotros {
        color: $first-color;
        font-size: 2em;
        padding: 0.5em;
        font-weight: lighter;
    }

    .descripcion-nosotros {
        padding: 0.5em;
    }

}

.mision-vision{
    display: flex;
    padding: 2rem;
    align-content: center;
 
    
article{

    display: flex;
    flex-direction: column;
    margin: 1rem;
       
    h3{
        color: $font-gral;
        font-weight: bold;
      
       
    }

    span{
        background-color: $first-color;
        width: 15%;
        height: 3px;
      }

    p{
        color: $grey;
        text-align: left;
        padding-top: 1rem;
    }
}
img{
    border-radius: 10px;
    border: 1px solid $font-gral;
    filter: grayscale(100%);
    margin-left: 5rem;
    transition: 1s;

    &:hover{
        filter: none;
        
    }
}
}







/*fin pagina nosotros*/