@import '../base/colores';
@import '../base/responsive';

/*comienzo pagina nosotros*/
.section{
  h2{
    font-size: 2rem;
  }
}

.nosotros {
  background-color: $bg-color;
  width: 100%;
  padding: 0;
  margin: 0;

 

  .titulo-nosotros {
    font-size: 2rem;
    color: $bg-color;
    font-weight: bold;
  }

  .container-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;


    .item-nosotros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      max-width: 25rem;
      height: 45rem;
      padding: 2rem;
      border-radius: 0.5rem;
      text-align: center;
      background-color: $font-gral;
      box-shadow: 0 0 6px $grey;

   

        img {
          width: 18rem;
          height: 18rem;
          border-radius: 100%;
          object-fit: cover;
          margin: 0 auto;


        }


      .item-descripcion {
        display: flex;
        flex-direction: column;

        h3 {
          padding: 0 2rem;
        }

        span {
          background-color: $first-color;
          width: 5rem;
          height: 3px;
          margin: 1rem auto;
        }

        p {
          color: $grey;
        }

      }

      .redes-us {
        display: flex;
        justify-content: left;
       
        .fa-instagram,
        .fa-linkedin {
          padding: 0.5rem;
          font-size: 2.2em;
          color: $bg-color;
          transition: transform 1s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }


    }
  }


}


.mision-vision {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 2rem 5rem;
  background-color: $font-gral;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px $grey;

  div {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .mv-item {

      display: flex;
      flex-direction: column;
      margin: 0.5rem;


      h3 {
        color: $bg-color;
        font-weight: bold;
        font-size: 2rem;


      }

      span {
        background-color: $first-color;
        width: 5rem;
        height: 3px;
        margin-top: 0.5rem;
      }

      p {
        color: $grey;
        text-align: left;
        padding-top: 1rem;

      }
    }
  }

  img {
    width: 20rem;
    height: 30rem;
    margin: auto;
    border-radius: 0.5rem;
    filter: grayscale(100%);

    transition: all 1s;

    &:hover {
      filter: none;

    }
  }
}


/*fin pagina nosotros*/

/*Estilos de servicios*/
.container-servicios {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;


  .ico-servicios {
    display: flex;
    justify-content: center;
    color: $bg-color;
    font-size: 2.5em;
    padding: 20px;
    margin-bottom: 20px;
  }

  .col-servicios {
    display: flex;
    flex-direction: column;
    width: 16rem !important;
    height: auto;
    background-color: $font-gral;
    padding: 0.5rem;
    border-radius: 0.5em;
    overflow: hidden;
    transition: all 300ms;


    span {
      background-color: $first-color;
      width: 20%;
      height: 3px;
      margin: 0.5rem auto;
    }

    h3 {
      color: $bg-color;
      font-weight: 600;
      font-size: 1.3rem;

    }

    p {
      font-size: 1em;
      font-weight: lighter;
      padding: 1em;
      color: $grey;

      transition: all 300ms;
    }

    &:hover {
      border: 5px solid $first-color;

      h3 {
        animation: showTitulo 400ms linear;
        font-weight: bold;

        @keyframes showTitulo {
          from {
            transform: translateY(-200%);
          }

          to {
            transform: translateY(0%);
          }
        }

      }

      .ico-servicios {
        font-size: 4em;
        animation: showIcon 300ms linear;

        @keyframes showIcon {
          from {
            transform: translateY(-200%);
          }

          to {
            transform: translateY(0%);
          }
        }
      }


      p {
        animation: showTexto 300ms linear;
        font-weight: normal;


        @keyframes showTexto {
          from {
            transform: translateX(-200%);
          }

          to {
            transform: translateX(0%);
          }
        }

      }


    }

  }

}


/*Fin servicios*/