@import '../base/colores';
@import '../base/responsive';

/*comienzo pagina nosotros*/
.nosotros{
  background-color: $bg-color;
  width: 100%;
  padding: 0;
  margin: 0;



.container-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;


    .item-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25rem;
        height: auto;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        background-color: $font-gral;
        box-shadow: 0 0 6px $grey;
        position: relative;
      
        .img-nosotros {
            padding: 1rem;
            width: 3rem;
            height: 5rem;
              max-width: 100%;
            
            
            &:hover{
             
              .img2{
                opacity: 30%;
                transition: all 1s;
                object-fit: cover;
              }
            }
            
            .img1{
              position: absolute;
            }

            .img2 {
              
                border-radius: 0.5rem;
                object-fit: cover;
                position: absolute;

                
            }

        }

        .descripcion-nosotros {
          padding: 0.5em;
          display: flex;
          flex-direction: column;

          .titulo-nosotros{
            font-size: 2em;
            color: $bg-color;
            font-weight: bold;
            
        }
  
        span{
          background-color: $first-color;
          width: 20%;
          height: 3px;
          margin: 1rem auto;
          }

          p{
            color: $grey;
          }
        
      }

        .redes-us{
          display: flex;
          justify-content: left;

          .fa-instagram, .fa-linkedin {
            padding: 0.5rem;
            font-size: 2.2em;
            color: $bg-color;
            transition: transform 1s;
       
            &:hover {
             transform: scale(1.2);
           }
        }
      }

    }
}
}

.mision-vision{
  max-width: 1200px;
  margin: 0 auto;
    display: flex;
    padding: 2rem;
    background-color: $font-gral;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px $grey;
   
 div{   
  display: flex;
  flex-direction: column;
  padding: 1rem;

.mv-item{

    display: flex;
    flex-direction: column;
    margin: 0.5rem;
       
    h3{
        color: $bg-color;
        font-weight: bold;
        font-size: 2rem;
      
       
    }

    span{
        background-color: $first-color;
        width: 5rem;
        height: 3px;
        margin-top: 0.5rem;
      }

    p{
        color: $grey;
        text-align: left;
        padding-top: 1rem;
   
    }
}
 }
img{
    border-radius: 0.5rem;
    filter: grayscale(100%);
    margin-left: 5rem;
    transition: all 1s;
   
    &:hover{
        filter: none;
        
    }
}
}







/*fin pagina nosotros*/