@import '../base/colores';
@import '../base/responsive';

/*Comienzo pagina portfolio*/



.box-portfolio {
  display: none;
  
}

.carousel {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  
  .carousel-inner {
    .carousel-item {
      img {
        border-radius: 0.5rem;
        border: 1px solid $first-color;

      }
    }
  }
}

/*Fin pagina portfolio**/