@import 'colores';
@import 'responsive';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: $font-gral;
  text-decoration: none;
  list-style-type: none;

}


.body-index {
  background-color: $bg-color;
  background-image: url(../assets/img/skyline.webp);
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.body-paginas {
  background-color: $bg-color;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: line-through !important;
  color: $first-color !important;
}


main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  margin: 0 auto;


  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.5rem 0;
    margin: 3rem 0;

  }
}



/*Estilos generales de las pÃ¡ginas*/

.titulos-paginas {
  margin: auto;
  margin-bottom: 2rem;
  padding: 3rem 1rem 0;
  text-align: center;

  .h2-secciones {
    font-size: 2.5rem;
    font-weight: bold;

  }

  .titulo-borde {
    background: none repeat scroll 0 0 $first-color;
    height: 0.2rem;
    width: 7rem;
    margin-bottom: 3rem;
    display: block;
    margin: 1rem auto;
    padding: 0;
  }

}

/*Fin titulos*/

/*Estilos generales de los botones*/

.boton {
  border: 1px solid $first-color;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: $first-color;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $first-color;
    color: $bg-color;

  }

  a {
    text-decoration: none;
    color: $first-color;

  }
}

/*Fin de estilos generales de los botones*/