@import 'colores';

@media screen and (max-device-width: 600px) {

  main {

    .section {
      margin: 0;
      padding: 0;
      padding-top: 2rem;
    }

  }

  .titulos-paginas {
    padding: 1rem 0 0.5rem;

    .h2-secciones {
      font-size: 1.8rem;
      font-weight: bold;

    }
  }

  /*Navbar*/
  .header {
    background-color: $bg-color;
    padding: 0;
    position: fixed;
    z-index: 2;

    .container-header {

      .navbar {

        div {

          a {
            width: 80%;

          }

          div {
            ul {

              li {
                font-size: 1.5rem;
                margin-top: 0.5rem;
                padding: 1rem;
                border-bottom: 1px dashed $first-color;

                a {
                  padding-left: 1rem;

                }

              }


            }
          }
        }


      }
    }
  }

  /*Navbar*/

  /* bienvenida*/
  .section-bienvenida {

    .container-bienvenida {
      padding: 4rem 2.5rem;

      div {

        h1 {

          font-size: 3rem;
          line-height: 4rem;
          font-weight: 500;
          padding: 0.5rem 0;

          span {
            color: $first-color;
            text-shadow: -5px 0 $second-color;
            font-size: 3rem;

          }
        }

      }

      .boton {
        font-size: 1rem;
        padding: 1rem;
        margin: 0 auto;
        letter-spacing: 2px;

      }
    }

  }


  /* Fin bienvenida*/


  /*Comienzo pagina portfolio*/
  .box-portfolio {
    display: contents;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 6rem;
    


    .art-portfolio {
         margin: 0 auto;


      img {
        width: 22em;
        border-radius: 0.5rem;
        border: 1px solid $first-color;
      }

    }

  }

  .carousel {
    display: none;
  }

  /*Fin pagina portfolio**/

  /*Página nosotros*/
  .nosotros {

    .container-nosotros {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;


      .item-nosotros {
        width: 20rem;
        margin: 0;
        box-shadow: none;

        .img-nosotros {

          img {
            width: 15rem;

          }
        }

      }

    }

  }

  .container-servicios {
    flex-direction: column;
    gap: 1rem;

    .col-servicios {
      text-align: center;
      margin: 0 auto;

    }

  }
}




@media screen and (max-device-width: 900px) {

  .mision-vision {
    padding: 1rem 0;

    div {
      padding: 0;

      .mv-item {
        padding: 1rem;
        text-align: center;

        span {
          margin: 0 auto;
        }

        p {
          text-align: center;
        }
      }
    }

    img {
      display: none;

    }

  }

  .container-servicios {

    .col-servicios {
      text-align: center;
      width: 40%;
    }

  }

}